<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatNest</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>
    <div class="logo">🚀 ChatNest</div>

    <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
    </nav>
</header>

<section class="hero">

    <div class="left">

        <h1>Welcome to ChatNest</h1>

        <p>
            Connect with your friends and chat instantly anytime, anywhere.
        </p>

        <a href="/signup">
            <button class="btn">Get Started</button>
        </a>

    </div>

    <div class="right">
        💬
    </div>

</section>

</body>
</html>